<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragments :: head">
        <title></title>
    </head>
    <body>
        <header th:replace="fragments/fragments :: header"></header>

        <section>
            <h1>Super site!</h1>
            <p>Super site is one of the best sites on the internet now!</p>
        </section>

        <main>
            <p>Welcome!</p>
        </main>

        <footer th:replace="fragments/fragments :: footer"></footer>
    </body>
</html>
